@model INDIACom.Models.RetrieveModel
@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";

}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">

    <h1 style="color: blue;">Forgot Password</h1>
    <p>Fields marked with <span style="color: red;">*</span> are required.</p>


    @if (ViewBag.Message != null)
    {
        <p style="color: green;"><b>@ViewBag.Message</b></p>
    }
    @using (Html.BeginForm("retrievePassword", "Account", FormMethod.Post, new { @class = "", enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()

        <!-- Display Validation Errors -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table>
            <tr>
                <td align="center" valign="top">Member ID</td>
                <td>
                    @Html.TextBoxFor(model => model.Member_Id, new { @class = "form-control", size = "50" })
                    <div class="text-danger" id="NameError"></div>
                </td>
            </tr>

        </table>
    }
    <br />
    <button type="button" id="submitBtn">Retrieve Password</button>

    <br>
    <br>
    <br>
    <p align="center">
        Not a Member? <a href="@Url.Action("Register", "Member")">Sign Up.</a>
    </p>

</div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Content/assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>


    <script>
    $(document).ready(function () {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $("#submitBtn").click(function () {


            $("#submitBtn").prop("disabled", true); // Disable button to prevent double submission

            $.ajax({
                url: "@Url.Action("RetrievePwd", "Account")",
                type: "POST",
                data: {
                   /* __RequestVerificationToken: token,*/
                    id: $('#Member_Id').val(),

                },
                success: function (response,status) {
                    if (status == "success") {
                        if (response.success) {
                            // If password was retrieved successfully, show it in a SweetAlert
                            Swal.fire({
                                icon: 'success',
                                title: 'Password Retrieved Successfully',
                                text: 'Your password is: ' + response.password // Show password in alert
                            });
                        } else {
                            // If not successful, show the error message in a SweetAlert
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message || "Failed to retrieve password."
                            });
                        }
                    } else {
                        // If AJAX request fails, show error message
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: response.message || "Something went wrong."
                        });
                    }
                    $("#submitBtn").prop("disabled", false); // Re-enable the submit button
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", xhr.responseText);
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "Something went wrong! " + xhr.responseText
                    });
                    $("#submitBtn").prop("disabled", false); // Re-enable the button
                }
            });
        });
    });</script>
