@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
    <div><br /></div>
    <br />

    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@

    @*<div style="width: 100%; max-width>*@
        <h1 >Committees</h1>
    <br/>
<ul class="committee-list" >
    <li><a href="@Url.Action("ChairsAndCoChairs", "Home")" class="menu-link">Chairs & Co-Chairs</a></li>
    <li><a href="@Url.Action("AdvisoryCommittee", "Home")" class="menu-link">Advisory Committee</a></li>
    <li><a href="@Url.Action("TechnicalCommittee", "Home")" class="menu-link">Technical Programme Committee (TPC)</a></li>
    <li><a href="@Url.Action("EditorialBoard", "Home")" class="menu-link">Editorial Board</a></li>
    <li><a href="@Url.Action("IEEEOversightCommittee", "Home")" class="menu-link">IEEE Oversight Committee (INDIACom-2025)</a></li>
    <li><a href="@Url.Action("LocalOrganizingCommittee", "Home")" class="menu-link">Local Organizing Committee</a></li>
</ul>

    </div>

<div><br /></div>


